@charset "UTF-8";
/* CSS Document */

* {box-sizing: border-box;}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(0, 48px);
  }
  to {
    transform: translate(-200px, 48px);
  }
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	color: #f1f1f1;
	background-color: #555;
}

h1 {
	font-size: 30px;
	font-weight: 700;
}

h2 {
	font-size: 24px;
	font-weight: 700;
}

h3 {
	font-size: 18px;
	font-weight: 700;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
	color: hotpink;
}

a:active {color: hotpink;}

input[type=submit] {
	border: none;
	font-family: inherit;
	background-color: #0033F8;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0,0,0,0.3)
}

input[type=submit]:hover input[type=submit]:focus {
	cursor: pointer;
	background-color: hotpink;
}

.button {
	border: none;
	display: inline-block;
	font-family: inherit;
	background-color: #333;
	color: #f1f1f1;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0,0,0,0.3);
	transition: 0.2s opacity;
}

.button:hover, .button:focus {
	cursor: pointer;
	opacity: 0.8;
}

.page-header {
	display: flex;
	background-color: #111;
	width: 100%;
	padding: 20px;
}

.page-header,img {
	align-content: center;
}

.page-header__item {
	flex: 0 1 200px;
	background-color: #111;
}

.page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
	align-content: flex-end;
}

.navigation-list {list-style-type: none;}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

.body h1 {
	text-align: center;
	font-variant: small-caps;
	font-size: 40px;
	color: #f1f1f1;
}

hr {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	height: 5px;
	color: white;
	background-color: white;
	box-shadow: 2px 2px #111;
}

.about__portrait {
	float: right;
	width: 500px;
	height: auto;
	padding-bottom: 100px;
}

.profile {
	max-width: 700px;
	margin: 0 auto;
}

.profile__portrait {
	float: left;
	width: 250px;
	height: auto;
	margin-right: 40px;
	border-radius: 50%;
}

section.body {margin: 0 250px;}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	justify-content: center;
	padding-top: 10px;
} 

.grid__item img{
	width: 100%;
	height: 250px;
	transition: 0.5s opacity;
	transition: 0.5s rotate;
	transition: 0.5s scale;
}

.grid__item__hover {
	display: block;
	color: white;
	font-size: 30px;
	/*z-index: 2;
	position: relative;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;*/
	text-align: center;
	font-variant: small-caps;
}

.grid__item__hover h3 {font-style: italic;}

.grid__item__hover sup {text-decoration: underline;}

.grid__item a {text-decoration: none;}

.grid__item img:hover {
	opacity: 0.4;
	transform: scale(1.125, 1.125) rotate(-05deg);
}

.grid__item__hover:hover {opacity: 1;}

.sun {
	animation: 20s color-change infinite alternate linear;}

.cloud-front {animation: 80s cloud-move infinite alternate linear}

.cloud-front-right {animation: 80s cloud-move-reverse infinite alternate linear}

.page-footer {
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;
}

footer a img {
	width: 30px;
	height: 30px;
}

@media all and (max-width: 500px) {
	.grid {
		grid-template-columns: 1fr;
	}
}

@media all and (min-width: 500px) and (max-width: 750px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (max-width: 750px) {
	.grid {grid-gap: 10px;}
	
	.grid__item img {height: auto;}
	
	h1 {font-size: 22px;}
}
